/* / NOTE: the order of these styles DO matter

// Will edit everything selected including everything between a range of dates */
.CalendarDay__selected_span {
  background: #82e0aa;
  color: white; 
  border: 1px solid pink; 
}

/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background: rgb(228, 87, 110);
  color: white;
}

/* // Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

/* // Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}
.DateRangePicker_picker__directionLeft{
    left:-200px !important;
}
.DateRangePickerInput__withBorder{
border:none ! important;
}
.DateInput {
}
.DateInput_input{
    line-height:none !important;
    padding: 0 1rem !important;
    font-size:0.8rem !important;
}
.DateInput_input__focused{
    border-bottom:none !important;
}
.CalendarDay__selected{
    background-color: #ff7b88 !important;
    border: 1px solid #fa5767 !important;

}
.CalendarDay__selected_span{
    background-color: #f89ca5 !important;
    border: 1px solid #ff7b88 !important;

}
.CalendarDay__hovered_span{
    background-color: #fbc0c6 !important;
    border: 1px solid #f89ca5 !important;
    color: #764045 !important;

}
.DayPickerKeyboardShortcuts_show__bottomRight{
    display: none;
}