# API KEY
.env

# WEBPACK
/src/main/webapp/resources/js/

# Eclipse
/target/
.settings/
.classpath
.factorypath
.project

# # Directories #
# /build/
# /bin/
# target/
 
# # OS Files #
# .DS_Store
  
 
# # Package Files #
# *.jar
# *.war
# *.ear
# *.db
      
# # Eclipse #
# .metadata

# .loadpath
 
# bin/**
# tmp/**
# tmp/**/*
# *.tmp
# *.bak
# local.properties
# # /src/main/resources/rebel.xml