<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.figtable.member.model.vo.Member"
			alias="member" />
		<typeAlias
			type="com.kh.figtable.restaurant.model.vo.Restaurant"
			alias="restaurant" />
		<typeAlias type="com.kh.figtable.review.model.vo.Review"
			alias="review" />
		<typeAlias type="com.kh.figtable.review.model.vo.Comment"
			alias="comment" />
		<typeAlias type="com.kh.figtable.common.StringArrayHandler"
			alias="strArr" />
		<typeAlias type="com.kh.figtable.eatdeal.model.vo.Eatdeal"
			alias="eatdeal" />
		<typeAlias type="com.kh.figtable.owner.model.vo.Owner"
			alias="owner" />
		<typeAlias alias="ownRestaurant"
			type="com.kh.figtable.owner.model.vo.OwnRestaurant" />
		<typeAlias alias="ownerInfo"
			type="com.kh.figtable.owner.model.vo.OwnerInfo" />
	</typeAliases>
</configuration>
