table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  flex: 1;
}
th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  overflow-x: auto;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  text-align: left;
}

.div {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.resTr:hover {
  background-color: rgba(204, 204, 204, 0.4);
  cursor: pointer;
}

.resNullTd {
  text-align: center;
}
