table {
  width: 100%;
  border-collapse: collapse;
  flex: 1;
}
th {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  overflow-x: auto;
}
tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
td {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 0.5rem;
  margin-left: 20px;
  text-align: left;
}

.div {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.resTr:hover {
  background-color: rgba(204, 204, 204, 0.4);
  cursor: pointer;
}

.revTr:hover {
  background-color: rgba(204, 204, 204, 0.4);
}

.resNullTd {
  text-align: center;
}
