<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
  <resultMap type="owner" id="ownResult">
  	<result property="ownNo" column="OWN_NO" />
  	<result property="ownEmail" column="OWN_EMAIL" />
  	<result property="ownPassword" column="OWN_PASSWORD" />
  	<result property="ownPhone" column="OWN_PHONE" />
  	<result property="ownName" column="OWN_NAME" />
  	<result property="ownStatus" column="OWN_STATUS" />
  	<result property="ownStatics" column="OWN_STATICS" />
  </resultMap>
  
  <resultMap type="restaurant" id="resResult">
		<result property="resNo" column="RES_NO" />
		<result property="ownNo" column="OWN_NO" />
		<result property="resName" column="RES_NAME" />
		<result property="resLocationKeyword"
			column="RES_LOCATION_KEYWORD" />
		<result property="resFoodKeyword" column="RES_FOOD_KEYWORD" />
		<result property="resThumb" column="RES_THUMB" />
		<result property="resAddress" column="RES_ADDRESS" />
		<result property="resOpenDay" column="RES_OPEN_DAY" />
		<result property="resCloseTime" column="RES_CLOSE_TIME" />
		<result property="resMenuTitle" column="RES_MENU_TITLE" />
		<result property="resMenuPrice" column="RES_MENU_PRICE" />
		<result property="resTel" column="RES_TEL" />
		<result property="resLat" column="RES_LAT" />
		<result property="resLong" column="RES_LONG" />
		<result property="resViews" column="RES_VIEWS" />
		<result property="resRating" column="RES_RATING" />
		<result property="resReviews" column="RES_REVIEWS" />
		<result property="resLikes" column="RES_LIKES" />
		<result property="resReserve" column="RES_RESERVE" />
		<result property="resWaiting" column="RES_WAITING" />
		<result property="resWaitCnt" column="RES_WAITCNT" />
		<result property="resApply" column="RES_APPLY" />
	</resultMap>
	
	<resultMap type="review" id="rvResult">
		<result property="memNo" column="MEM_NO" />
		<result property="resNo" column="RES_NO" />
		<result property="rvNo" column="RV_NO" />
		<result property="rvRating" column="RV_RATING" />
		<result property="rvContent" column="RV_CONTENT" />
		<result property="rvImages" column="RV_IMAGES"
			typeHandler="strArr" />
		<result property="rvDate" column="RV_DATE" />
		<result property="rvWarn" column="RV_WARN" />
		<result property="rvLove" column="RV_LOVE" />

		<result property="memName" column="MEM_NAME" />
		<result property="memProfile" column="MEM_PROFILE" />
		<result property="memRvCnt" column="MEM_RVCNT" />
		<result property="memFwCnt" column="MEM_FWCNT" />
	</resultMap>
  
  
	<select id="getByResApply" resultType="restaurant" resultMap="resResult">
		SELECT * FROM FIG_RESTAURANT WHERE RES_APPLY = 'S'
	</select>
	
	 <select id="getByOwnApply" resultType="owner" resultMap="ownResult">
  		SELECT * FROM FIG_OWNER WHERE OWN_APPLY = 'S'
  	</select>
  	
  	<select id="getReviews" resultType="review" resultMap="rvResult">
  		SELECT * FROM FIG_REVIEW WHERE RV_WARN = 'w'
  	</select>
</mapper>
