<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eatdeal">
	<resultMap type="eatdeal" id="eatResult">
		<result property="eatNo" column="EAT_NO" />
		<result property="resNo" column="RES_NO" />
		<result property="resName" column="RES_NAME" />
		<result property="resRocationKeyword" column="RES_LOCATION_KEYWORD" />
		<result property="thumb" column="THUMB" />
		<result property="eatFoodName" column="EAT_FOOD_NAME" />
		<result property="eatStatus" column="EAT_STATUS" />
		<result property="eatCount" column="EAT_COUNT" />
		<result property="eatOriginPrice" column="EAT_ORIGINPRICE" />
		<result property="eatDiscount" column="EAT_DISCOUNT" />
		<result property="eatStartDate" column="EAT_STARTDATE" />
		<result property="eatEndDate" column="EAT_ENDDATE" />
		<result property="eatContent" column="EAT_CONTENT" />
	</resultMap>
	<resultMap type="buyer" id="buyerResult">
		<result property="payNo" column="PAY_NO" />
		<result property="eatNo" column="EAT_NO" />
		<result property="eatFoodName" column="EAT_FOOD_NAME" />
		<result property="memName" column="MEM_NAME" />
		<result property="memNo" column="MEM_NO" />
		<result property="thumb" column="THUMB" />
		<result property="buyDate" column="BUY_DATE" />
		<result property="buyStatus" column="BUY_STATUS" />
	</resultMap>

	<select id="getEatdeals"
		resultType="eatdeal" resultMap="eatResult">
		SELECT * FROM FIG_EATDEAL JOIN FIG_RESTAURANT USING(RES_NO)
	</select>
	
	<select id="getByEatNo"
		resultType="eatdeal" resultMap="eatResult" parameterType="string">
		SELECT * FROM FIG_EATDEAL JOIN FIG_RESTAURANT USING(RES_NO) WHERE EAT_NO = #{eatNo}
	</select>
	<select id="getMemberPoint"
		resultType="string" parameterType="string">
		SELECT SUM(PO_HISTORY) FROM FIG_POINT WHERE MEM_NO = #{memNo}
	</select>
	
	<select id="getByResNo"
		resultType="eatdeal" resultMap="eatResult" parameterType="string">
		SELECT * FROM FIG_EATDEAL JOIN FIG_RESTAURANT USING(RES_NO) WHERE RES_NO = #{resNo}
	</select>
	<select id="getBuy"
		resultType="buyer" resultMap="buyerResult" parameterType="string">
		SELECT PAY_NO, EAT_NO, EAT_FOOD_NAME, MEM_NAME, MEM_NO, THUMB, BUY_DATE, BUY_STATUS 
		FROM FIG_EATDEAL_PAY
		JOIN FIG_EATDEAL USING(EAT_NO)
		JOIN FIG_MEMBER USING(MEM_NO)
		WHERE RES_NO = #{resNo}
		ORDER BY BUY_DATE DESC
	</select>
	<insert id="register" parameterType="eatdeal">
		INSERT INTO FIG_EATDEAL 
		VALUES('e'||EAT_SEQ.NEXTVAL, #{resNo}, #{thumb}, 
		#{eatFoodName},'P', #{eatCount}, 
		#{eatOriginPrice}, #{eatDiscount}, 
		#{eatStartDate}, #{eatEndDate}, 
		#{eatContent})
	</insert>
	
	<update id="deleteEat" parameterType="map">
		UPDATE FIG_EATDEAL SET EAT_STATUS = 'S' WHERE EAT_NO = #{eatNo}
	</update>
	
	<update id="extendEat" parameterType="map">
		UPDATE FIG_EATDEAL SET EAT_STATUS = 'P', EAT_STARTDATE = #{eatStartDate}, EAT_ENDDATE= #{eatEndDate} WHERE EAT_NO = #{eatNo}
	</update>
	
</mapper>
