<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eatdeal">
	<resultMap type="eatdeal" id="eatResult">
		<result property="eatNo" column="EAT_NO" />
		<result property="resNo" column="RES_NO" />
		<result property="resName" column="RES_NAME" />
		<result property="resRocationKeyword" column="RES_LOCATION_KEYWORD" />
		<result property="thumb" column="THUMB" />
		<result property="eatFoodName" column="EAT_FOOD_NAME" />
		<result property="eatStatus" column="EAT_STATUS" />
		<result property="eatCount" column="EAT_COUNT" />
		<result property="eatOriginPrice" column="EAT_ORIGINPRICE" />
		<result property="eatDiscount" column="EAT_DISCOUNT" />
		<result property="eatStartDate" column="EAT_STARTDATE" />
		<result property="eatEndDate" column="EAT_ENDDATE" />
		<result property="eatContent" column="EAT_CONTENT" />
	</resultMap>

	<select id="getEatdeals"
		resultType="eatdeal" resultMap="eatResult">
		SELECT * FROM FIG_EATDEAL JOIN FIG_RESTAURANT USING(RES_NO)
	</select>
	
	<select id="getByEatNo"
		resultType="eatdeal" resultMap="eatResult" parameterType="string">
		SELECT * FROM FIG_EATDEAL JOIN FIG_RESTAURANT USING(RES_NO) WHERE EAT_NO = #{eatNo}
	</select>
	<select id="getMemberPoint"
		resultType="string" parameterType="string">
		SELECT SUM(PO_HISTORY) FROM FIG_POINT WHERE MEM_NO = #{memNo}
	</select>
	
	<select id="getByResNo"
		resultType="eatdeal" resultMap="eatResult" parameterType="string">
		SELECT * FROM FIG_EATDEAL JOIN FIG_RESTAURANT USING(RES_NO) WHERE RES_NO = #{resNo}
	</select>

</mapper>
