<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="member" id="memResult">
		<result property="memNo" column="MEM_NO" />
		<result property="memEmail" column="MEM_EMAIL" />
		<result property="memPassword" column="MEM_PASSWORD" />
		<result property="memPhone" column="MEM_PHONE" />
		<result property="memName" column="MEM_NAME" />
		<result property="memProfile" column="MEM_PROFILE" />
		<result property="memRvCnt" column="MEM_RVCNT" />
		<result property="memFwCnt" column="MEM_FWCNT" />
		<result property="memWrCnt" column="MEM_WRCNT" />
		<result property="memStatus" column="MEM_STATUS" />
	</resultMap>

	<insert id="register" parameterType="member">
		INSERT INTO FIG_MEMBER
		VALUES('m'||MEM_SEQ.NEXTVAL, #{memEmail},
		#{memPassword}, #{memPhone},
		#{memName}, DEFAULT, DEFAULT, DEFAULT,
		DEFAULT, DEFAULT)
		<selectKey keyProperty="memNo" resultType="string"
			order="AFTER">
			SELECT 'm'||MEM_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<select id="login" parameterType="member" resultType="member"
		resultMap="memResult">
		SELECT *
		FROM
		FIG_MEMBER WHERE MEM_EMAIL = #{memEmail}
	</select>

	<insert id="likesRes" parameterType="map">
		INSERT INTO FIG_RES_LIKES
		VALUES(#{memNo}, #{resNo})
	</insert>

	<delete id="unlikesRes" parameterType="map">
		DELETE FIG_RES_LIKES WHERE
		MEM_NO = #{memNo} AND RES_NO = #{resNo}
	</delete>

	<select id="getLoves" parameterType="string" resultType="string">
		SELECT
		RV_NO FROM FIG_RV_LOVES WHERE MEM_NO = #{memNo}
	</select>

	<insert id="lovesRv" parameterType="map">
		INSERT INTO FIG_RV_LOVES
		VALUES(#{memNo}, #{rvNo})
	</insert>

	<delete id="unlovesRv" parameterType="map">
		DELETE FIG_RV_LOVES WHERE
		MEM_NO = #{memNo} AND RV_NO = #{rvNo}
	</delete>

	<select id="check" parameterType="string" resultType="member"
		resultMap="memResult">
		SELECT *
		FROM
		FIG_MEMBER WHERE MEM_NO = #{memNo}
	</select>

	<update id="update" parameterType="member">
		UPDATE FIG_MEMBER
		<set>
			<if test="memEmail != null">
				MEM_EMAIL = #{memEmail},
			</if>
			<if test="memPassword != null">
				MEM_PASSWORD = #{memPassword},
			</if>
			<if test="memPhone != null">
				MEM_PHONE = #{memPhone},
			</if>
			<if test="memName != null">
				MEM_NAME = #{memName},
			</if>
			<if test="memProfile != null">
				MEM_PROFILE = #{memProfile},
			</if>
		</set>
		WHERE MEM_NO = #{memNo}
	</update>

	<select id="getOldProfile" parameterType="string"
		resultType="string">
		SELECT MEM_PROFILE FROM FIG_MEMBER WHERE MEM_NO = #{memNo}
	</select>

	<select id="addPoint" parameterType="map">
		INSERT INTO FIG_POINT
		VALUES(#{memNo}, #{poHistory}, #{poContent}, SYSDATE)
	</select>

	<select id="getLoversList" parameterType="string"
		resultType="member" resultMap="memResult">
		SELECT M.MEM_NO, M.MEM_NAME,
		M.MEM_PROFILE FORM FIG_RV_LOVES L JOIN FIG_MEMBER M ON(L.MEM_NO =
		M.MEM_NO) WHERE L.RV_NO = #{rvNo}
	</select>

</mapper>
