<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="member" id="memResult">
		<result property="memNo" column="MEM_NO" />
		<result property="memEmail" column="MEM_EMAIL" />
		<result property="memPassword" column="MEM_PASSWORD" />
		<result property="memPhone" column="MEM_PHONE" />
		<result property="memName" column="MEM_NAME" />
		<result property="memProfile" column="MEM_PROFILE" />
		<result property="memRvCnt" column="MEM_RVCNT" />
		<result property="memFwCnt" column="MEM_FWCNT" />
		<result property="memCode" column="MEM_CODE" />
		<result property="memStatus" column="MEM_STATUS" />
	</resultMap>

	<insert id="register" parameterType="member">
		INSERT INTO FIG_MEMBER
		VALUES('m'||MEM_SEQ.NEXTVAL, #{memEmail},
		#{memPassword}, #{memPhone},
		#{memName}, DEFAULT, DEFAULT, DEFAULT, 'M', DEFAULT)
	</insert>

	<select id="login" parameterType="member" resultType="member"
		resultMap="memResult">
		SELECT *
		FROM
		FIG_MEMBER WHERE MEM_EMAIL = #{memEmail}
	</select>
</mapper>
