<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="member" id="memResult">
		<result property="memNo" column="MEM_NO" />
		<result property="memEmail" column="MEM_EMAIL" />
		<result property="memPassword" column="MEM_PASSWORD" />
		<result property="memPhone" column="MEM_PHONE" />
		<result property="memName" column="MEM_NAME" />
		<result property="memProfile" column="MEM_PROFILE" />
		<result property="memRvCnt" column="MEM_RVCNT" />
		<result property="memFwCnt" column="MEM_FWCNT" />
		<result property="memWrCnt" column="MEM_WRCNT" />
		<result property="memStatus" column="MEM_STATUS" />

		<result property="memPoint" column="MEM_POINT" />
		<result property="followingCnt" column="FOLLOWING_CNT" />
		<result property="eatdealCnt" column="EATDEAL_CNT" />
	</resultMap>

	<resultMap type="point" id="poResult">
		<result property="memNo" column="MEM_NO" />
		<result property="poHistory" column="PO_HISTORY" />
		<result property="poContent" column="PO_CONTENT" />
		<result property="poDate" column="PO_DATE" />
	</resultMap>

	<insert id="register" parameterType="member">
		INSERT INTO FIG_MEMBER
		VALUES('m'||MEM_SEQ.NEXTVAL, #{memEmail},
		#{memPassword}, #{memPhone},
		#{memName}, DEFAULT, DEFAULT, DEFAULT,
		DEFAULT, DEFAULT)
		<selectKey keyProperty="memNo" resultType="string"
			order="AFTER">
			SELECT 'm'||MEM_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<select id="login" parameterType="member" resultType="member"
		resultMap="memResult">
		SELECT M.*, P.MEM_POINT FROM FIG_MEMBER M JOIN (SELECT
		MEM_NO, SUM(PO_HISTORY) AS MEM_POINT FROM FIG_POINT GROUP BY MEM_NO) P
		ON(M.MEM_NO = P.MEM_NO) WHERE M.MEM_EMAIL = #{memEmail}
	</select>

	<insert id="likesRes" parameterType="map">
		INSERT INTO FIG_RES_LIKES
		VALUES(#{memNo}, #{resNo})
	</insert>

	<delete id="unlikesRes" parameterType="map">
		DELETE FIG_RES_LIKES WHERE
		MEM_NO = #{memNo} AND RES_NO = #{resNo}
	</delete>

	<select id="getLoves" parameterType="string" resultType="string">
		SELECT
		RV_NO FROM FIG_RV_LOVES WHERE MEM_NO = #{memNo}
	</select>

	<insert id="lovesRv" parameterType="map">
		INSERT INTO FIG_RV_LOVES
		VALUES(#{memNo}, #{rvNo})
	</insert>

	<delete id="unlovesRv" parameterType="map">
		DELETE FIG_RV_LOVES WHERE
		MEM_NO = #{memNo} AND RV_NO = #{rvNo}
	</delete>

	<select id="check" parameterType="string" resultType="member"
		resultMap="memResult">
		SELECT M.*, P.MEM_POINT, F.FOLLOWING_CNT, E.EATDEAL_CNT FROM
		FIG_MEMBER M JOIN (SELECT MEM_NO, SUM(PO_HISTORY) AS MEM_POINT FROM
		FIG_POINT GROUP BY MEM_NO) P ON(M.MEM_NO = P.MEM_NO) JOIN (SELECT
		MEM_NO, COUNT(*) AS FOLLOWING_CNT FROM FIG_FOLLOWING GROUP BY MEM_NO)
		F ON(M.MEM_NO = F.MEM_NO) JOIN (SELECT MEM_NO, COUNT(*) AS EATDEAL_CNT
		FROM FIG_EATDEAL_PAY WHERE BUY_STATUS ='A' GROUP BY MEM_NO) E
		ON(M.MEM_NO = E.MEM_NO) WHERE M.MEM_NO = #{memNo}
	</select>

	<update id="update" parameterType="member">
		UPDATE FIG_MEMBER
		<set>
			<if test="memEmail != null">
				MEM_EMAIL = #{memEmail},
			</if>
			<if test="memPassword != null">
				MEM_PASSWORD = #{memPassword},
			</if>
			<if test="memPhone != null">
				MEM_PHONE = #{memPhone},
			</if>
			<if test="memName != null">
				MEM_NAME = #{memName},
			</if>
			<if test="memProfile != null">
				MEM_PROFILE = #{memProfile},
			</if>
		</set>
		WHERE MEM_NO = #{memNo}
	</update>

	<select id="getOldProfile" parameterType="string"
		resultType="string">
		SELECT MEM_PROFILE FROM FIG_MEMBER WHERE MEM_NO = #{memNo}
	</select>

	<select id="addPoint" parameterType="map">
		INSERT INTO FIG_POINT
		VALUES(#{memNo}, #{poHistory}, #{poContent}, SYSDATE)
	</select>

	<select id="getLoversList" parameterType="string"
		resultType="member" resultMap="memResult">
		SELECT M.MEM_NO, M.MEM_NAME,
		M.MEM_PROFILE FROM FIG_RV_LOVES L JOIN FIG_MEMBER M ON(L.MEM_NO =
		M.MEM_NO) WHERE L.RV_NO = #{rvNo}
	</select>

	<insert id="followingMember" parameterType="map">
		INSERT INTO
		FIG_FOLLOWING VALUES(#{memNo}, #{targetMemNo})
	</insert>

	<delete id="unfollowingMember" parameterType="map">
		DELETE
		FIG_FOLLOWING WHERE MEM_NO = #{memNo} AND TARGET_MEM_NO =
		#{targetMemNo}
	</delete>

	<select id="getFollowingList" parameterType="string"
		resultType="member" resultMap="memResult">
		SELECT M.* FROM FIG_FOLLOWING F JOIN
		FIG_MEMBER M ON(F.TARGET_MEM_NO = M.MEM_NO) WHERE F.MEM_NO = #{memNo}
	</select>

	<select id="getFollowerList" parameterType="string"
		resultType="member" resultMap="memResult">
		SELECT M.* FROM FIG_FOLLOWING F JOIN
		FIG_MEMBER M ON(F.MEM_NO = M.MEM_NO) WHERE F.TARGET_MEM_NO = #{memNo}
	</select>

	<select id="getMyPoint" parameterType="map" resultType="point"
		resultMap="poResult">
		SELECT * FROM FIG_POINT WHERE MEM_NO = #{memNo}
		<if test="startDate != null and endDate != null">
			AND PO_DATE BETWEEN #{startDate} AND TO_DATE(#{endDate},
			'YY-MM-DD') + 1
		</if>
		ORDER BY PO_DATE DESC
	</select>

	<select id="getMyCoupon" parameterType="map" resultType="map">
		SELECT P.*, E.*, R.RES_NAME FROM FIG_EATDEAL_PAY P JOIN FIG_EATDEAL E
		ON(P.EAT_NO = E.EAT_NO) JOIN FIG_RESTAURANT R ON(E.RES_NO = R.RES_NO)
		WHERE MEM_NO = #{memNo}
		<if test="startDate != null and endDate != null">
			AND BUY_DATE BETWEEN #{startDate} AND TO_DATE(#{endDate},
			'YY-MM-DD') + 1
		</if>
		ORDER BY BUY_DATE DESC
	</select>

	<select id="getQeustionMsgs" parameterType="map"
		resultType="map">
		SELECT * FROM FIG_QUESTION WHERE (MEM_NO = #{memNo} OR
		TARGET_MEM_NO = #{memNo}) AND
		Q_CATEGORY = #{category}
	</select>

	<insert id="writeQuestion" parameterType="map">
		INSERT INTO FIG_QUESTION VALUES(#{memNo}, #{targetMemNo}, #{content},
		DEFAULT, #{category})
	</insert>

</mapper>
