<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="owner">
	<resultMap type="restaurant" id="ownRes">
		<result property="resNo" column="RES_NO" />
		<result property="ownNo" column="OWN_NO" />
		<result property="resName" column="RES_NAME" />
		<result property="resLocationKeyword"
			column="RES_LOCATION_KEYWORD" />
		<result property="resFoodKeyword" column="RES_FOOD_KEYWORD" />
		<result property="resThumb" column="RES_THUMB" />
		<result property="resAddress" column="RES_ADDRESS" />
		<result property="resOpenDay" column="RES_OPEN_DAY" />
		<result property="resCloseTime" column="RES_CLOSE_TIME" />
		<result property="resMenuTitle" column="RES_MENU_TITLE" />
		<result property="resMenuPrice" column="RES_MENU_PRICE" />
		<result property="resTel" column="RES_TEL" />
		<result property="resLat" column="RES_LAT" />
		<result property="resLong" column="RES_LONG" />
		<result property="resViews" column="RES_VIEWS" />
		<result property="resRating" column="RES_RATING" />
		<result property="resReviews" column="RES_REVIEWS" />
		<result property="resLikes" column="RES_LIKES" />
		<result property="resWaiting" column="RES_WAITING" />
		<result property="resWaitCnt" column="RES_WAITCNT" />
		<result property="resApply" column="RES_APPLY" />
	</resultMap>
	
	<resultMap type="ownerInfo" id="ownInfo">
		<result property="ownNo" column="OWN_NO"/>
		<result property="ownName" column="OWN_NAME"/>
		<result property="ownStatics" column="OWN_STATICS"/>
		<result property="resCount" column="CNT"/>
		<result property="no" column="NO"/>
		<result property="name" column="NAME"/>
		
	</resultMap>

	<select id="ownRestaurant" parameterType="string" resultType="restaurant" resultMap="ownRes">
		SELECT *
		FROM FIG_RESTAURANT
		WHERE RES_NO=#{resNo}
	</select>
	
	<select id="ownerInfo" parameterType="string" resultType="ownerInfo" resultMap="ownInfo">
		SELECT OWN_NO, OWN_NAME, OWN_STATICS, (SELECT COUNT(*) FROM FIG_RESTAURANT WHERE OWN_NO=#{ownNo}) AS CNT,
		(SELECT LISTAGG(RES_NO,',') WITHIN GROUP (ORDER BY RES_NO) NO FROM FIG_RESTAURANT WHERE OWN_NO=#{ownNo}) AS NO, 
		(SELECT LISTAGG(RES_NAME,',')  WITHIN GROUP (ORDER BY RES_NO) NAME FROM FIG_RESTAURANT WHERE OWN_NO=#{ownNo}) AS NAME
		FROM FIG_OWNER WHERE OWN_NO=#{ownNo}
	</select>
	<update id="updateThumb" parameterType="map">
		UPDATE FIG_RESTAURANT SET RES_THUMB=#{resThumb} WHERE RES_NO=#{resNo}
	</update>
</mapper>
