<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="restaurant">
	<resultMap type="restaurant" id="resResult">
		<result property="resNo" column="RES_NO" />
		<result property="ownNo" column="OWN_NO" />
		<result property="resName" column="RES_NAME" />
		<result property="resLocationKeyword"
			column="RES_LOCATION_KEYWORD" />
		<result property="resFoodKeyword" column="RES_FOOD_KEYWORD" />
		<result property="resThumb" column="RES_THUMB" />
		<result property="resAddress" column="RES_ADDRESS" />
		<result property="resOpenDay" column="RES_OPEN_DAY"
			typeHandler="strArrRes" />
		<result property="resCloseTime" column="RES_CLOSE_TIME"
			typeHandler="strArrRes" />
		<result property="resMenuTitle" column="RES_MENU_TITLE"
			typeHandler="strArrRes" />
		<result property="resMenuPrice" column="RES_MENU_PRICE"
			typeHandler="strArrRes" />
		<result property="resTel" column="RES_TEL" />
		<result property="resLat" column="RES_LAT" />
		<result property="resLong" column="RES_LONG" />
		<result property="resViews" column="RES_VIEWS" />
		<result property="resRating" column="RES_RATING" />
		<result property="resReviews" column="RES_REVIEWS" />
		<result property="resLikes" column="RES_LIKES" />
		<result property="resReserve" column="RES_RESERVE" />
		<result property="resWaiting" column="RES_WAITING" />
		<result property="resWaitCnt" column="RES_WAITCNT" />
		<result property="resApply" column="RES_APPLY" />
	</resultMap>

	<select id="getByLocal" parameterType="string"
		resultType="restaurant" resultMap="resResult">
		SELECT * FROM FIG_RESTAURANT WHERE
		RES_ADDRESS LIKE '%'|| #{local} || '%' AND RES_APPLY IN ('A', 'C')
		ORDER BY RES_RATING DESC, RES_LIKES DESC, RES_REVIEWS DESC, RES_VIEWS
		DESC
	</select>

	<select id="getByKeyword" parameterType="string"
		resultType="restaurant" resultMap="resResult">
		SELECT * FROM FIG_RESTAURANT WHERE
		(RES_NAME LIKE '%'|| #{keyword} || '%' OR RES_ADDRESS LIKE '%'||
		#{keyword} || '%' OR RES_LOCATION_KEYWORD LIKE '%'|| #{keyword} || '%'
		OR RES_FOOD_KEYWORD LIKE '%'|| #{keyword} || '%') AND RES_APPLY IN
		('A', 'C') ORDER BY RES_RATING DESC, RES_LIKES DESC, RES_REVIEWS DESC,
		RES_VIEWS DESC
	</select>

	<select id="getById" parameterType="string"
		resultType="restaurant" resultMap="resResult">
		SELECT * FROM FIG_RESTAURANT WHERE
		RES_NO = #{resNo}
	</select>

	<update id="increaseViews" parameterType="string">
		UPDATE FIG_RESTAURANT
		SET RES_VIEWS = RES_VIEWS + 1 WHERE RES_NO = #{resNo}
	</update>

	<select id="getLikes" parameterType="string"
		resultType="restaurant" resultMap="resResult">
		SELECT R.* FROM FIG_RES_LIKES L JOIN
		FIG_RESTAURANT R ON(L.RES_NO = R.RES_NO) WHERE MEM_NO = #{memNo}
	</select>

	<select id="isLiked" parameterType="map" resultType="string">
		SELECT
		MEM_NO FROM FIG_RES_LIKES WHERE MEM_NO = #{memNo} AND RES_NO =
		#{resNo}
	</select>


</mapper>
