<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<resultMap type="review" id="rvResult">
		<result property="memNo" column="MEM_NO" />
		<result property="resNo" column="RES_NO" />
		<result property="rvNo" column="RV_NO" />
		<result property="rvRating" column="RV_RATING" />
		<result property="rvContent" column="RV_CONTENT" />
		<result property="rvImages" column="RV_IMAGES"
			typeHandler="strArr" />
		<result property="rvDate" column="RV_DATE" />
	</resultMap>

	<select id="getReviewsById" parameterType="string"
		resultType="review" resultMap="rvResult">
		SELECT * FROM FIG_REVIEW WHERE RES_NO =
		#{resNo}
	</select>
</mapper>
