<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<resultMap type="review" id="rvResult">
		<result property="memNo" column="MEM_NO" />
		<result property="resNo" column="RES_NO" />
		<result property="rvNo" column="RV_NO" />
		<result property="rvRating" column="RV_RATING" />
		<result property="rvContent" column="RV_CONTENT" />
		<result property="rvImages" column="RV_IMAGES"
			typeHandler="strArr" />
		<result property="rvDate" column="RV_DATE" />
		<result property="rvWarn" column="RV_WARN" />
		<result property="rvLove" column="RV_LOVE" />
		<result property="memName" column="MEM_NAME" />
		<result property="memProfile" column="MEM_PROFILE" />
		<result property="memRvCnt" column="MEM_RVCNT" />
		<result property="memFwCnt" column="MEM_FWCNT" />
	</resultMap>

	<select id="getReviewsById" parameterType="string"
		resultType="review" resultMap="rvResult">
		SELECT R.*, M.MEM_NAME, M.MEM_PROFILE,
		M.MEM_RVCNT, M.MEM_FWCNT FROM
		FIG_REVIEW R JOIN FIG_MEMBER M
		ON(R.MEM_NO = M.MEM_NO) WHERE RES_NO =
		#{resNo} ORDER BY RV_DATE DESC
	</select>

	<insert id="writeReview" parameterType="review">
		INSERT INTO FIG_REVIEW
		VALUES('rv'||RV_SEQ.NEXTVAL, #{memNo}, #{resNo}, #{rvRating},
		#{rvContent}, #{rvImages, typeHandler=strArr}, DEFAULT, NULL, DEFAULT)
	</insert>
</mapper>
